# Java specific
*.class

# Package Files #
*.jar
*.war
*.ear

# Ant specific
dist/
build/

# Netbeans specific
nbproject/private/

# General swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

# IntelliJ | IDEA
.idea/
FlexiChess.iml
out/
